# Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

# Allow exTHmUI's custom properties to be changed
allow platform_app system_prop:property_service set;

# Allow FastCharge HAL service to be found
hal_client_domain(platform_app, hal_ouvrir_fastcharge)

# Allow FOD HAL service to be found
hal_client_domain(platform_app, hal_ouvrir_fod)

# Allow LiveDisplay HAL service to be found
hal_client_domain(platform_app, hal_ouvrir_livedisplay)
