type hal_ouvrir_trust_default, coredomain, domain;
hal_server_domain(hal_ouvrir_trust_default, hal_ouvrir_trust)

type hal_ouvrir_trust_default_exec, exec_type, system_file_type, file_type;
init_daemon_domain(hal_ouvrir_trust_default)
